.authors {
  .paragraph {
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #efefef;
      cursor: pointer;
    }
  }
  .image {
    text-align: center;
    img {
      max-width: 80%;

    }
    .delete-btn {
      position: absolute;
      right: calc(10% + 38px);
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
  .post-card {
    .header-img {
      width: auto;
      height: 100%;
    }
  }
  #elements{
    list-style: none;
    padding-left: 0;
  }
  .badge{
    color: #101010;
  }
  .badge-primary {
    color: #fff;
    background-color: #007bff;
  }
  .badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
}